.overlayMaker:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(38, 31, 31, 0.63);
    z-index: 1;
}

.overlayMaker{
    min-height: 300px;
}

.hero-title{
    @apply text-sub-head-1 md:text-head-4 font-primary text-white text-center w-full text-center absolute font-bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}